@charset "utf-8";
/* CSS Document */
html, body{
	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#wrapper {
    width: 100vw;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#wrapper #Kagya_map {
    width: 100vw;
    height: 100vh;
    background-image: url(web%20components/Kagya%20map.png);
    background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
#wrapper #Kagya_map div {
	width: 7vw;
	height: 6vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}
#wrapper #Kagya_map #pongracz_kastely {
    width: 6vw;
    height: 7vh;
    background-image: url(web%20components/Location%20icons/pongr%C3%A1cz%20kast%C3%A9ly.png);
    position: absolute;
    left: 62%;
    top: 22%;
	background-repeat: no-repeat;
	background-size: contain;
}

#pongracz_kastely:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
#back-to-map {
	background-image: url("web components/webpage components/Property 1=Variant3.png");
	left: 18%;
	top: 2%;
	display:block; width:15%; height:6%;
	background-repeat: no-repeat;
	position: absolute;
}
#back-to-map:hover {
	background-image: url("web components/webpage components/Property 1=Variant2.png");
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: "Bahnschrift";
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    right: 20%;
    top: 2.5%;
}



.navbar a {
    tex-decoration: none;
    color: #2600FF;
    font-weight: normal;
    text-decoration: none;
}
.navbar a:hover {
	color: #00FFFF;
}

.separator {
    color: white;
    padding: 0 10px;
    pointer-events: none; /* Ensures it doesn't get hovered */
}