@charset "utf-8";
html, body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E9EDF7;
}
.wrapper {
   width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.wrapper #header {
    width: 100vw;
	height: 5vh;
	background-color: #051029;
	position: absolute;
	top: 0;
}

#header .navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    right: 6%;
    top: 25%;
}



.navbar a {
    tex-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.navbar a:hover {
	transform: scale(1.2);
    transition: transform 0.3s ease;
}

.separator {
    color: white;
    padding: 0 10px;
    pointer-events: none; /* Ensures it doesn't get hovered */
}


/* CSS Document */

.wrapper #map {
    background-image: url(web%20components/%C3%89rmell%C3%A9k-04.png);
    background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 90vw;
	height: 90vh;
	position: relative;
}

.wrapper::before {
	content: "";
	position: absolute;
	left: 0;
	width: 25vw;
	height: 100%;
	background-color: #E9EDF7;
	
}

.wrapper::after {
	content: "";
	position: absolute;
	right: 0;
	width: 25vw;
	height: 100%;
	background-color: #FFFFFF;
	z-index: -1;
}

.wrapper #map #Bihardioszeg {
   position: absolute;
    left: 22.5%;
    top: 81%;
    width: 6vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%201.png); 
}

#Bihardioszeg:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Csokaly  {
    position: absolute;
    left: 24%;
    top: 71%;
    background-image: url(web%20components/Group%205.png);
    width: 6vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
}

#Csokaly:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.wrapper #map #Szekelyhid {
    position: absolute;
    left: 27%;
    top: 69%;
    width: 6vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%206.png);
}

#Szekelyhid:hover {
	transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Azermellek {
    width: 30vw;
    height: 20vh;
    background-image: url(web%20components/Az%20%C3%89rmell%C3%A9k.png);
    position: absolute;
    left: 65%;
    top: 75%;
    background-repeat: no-repeat;
	background-size: contain;
}


.wrapper #map #Hegykozszentmiklos {
     position: absolute;
    left: 31.5%;
    top: 78%;
    width: 5vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%203.png);
}

#Hegykozszentmiklos:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.wrapper #map #Erkobolkut {
    position: absolute;
    left: 32.5%;
    top: 73.5%;
    width: 5vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%204.png);
    
}

#Erkobolkut:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.wrapper #map #Nagykagya {
    position: absolute;
    left: 26%;
    top: 77%;
    width: 5vw;
    height: 4vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%202.png);
    
}

#Nagykagya:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.wrapper #map #Kiskereki {
    width: 131px;
    height: 48px;
    background-image: url(web%20components/Group%208.png);
    position: absolute;
    top: 712px;
    left: 505px;
    background-repeat: no-repeat;
}

#Kiskereki:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Erkeseru {
    position: absolute;
    left: 27.5%;
    top: 51%;
    width: 6vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%209.png);
    
}

#Erkeseru:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.wrapper #map #Ermihalyfalva {
    position: absolute;
    left: 30%;
    top: 34.5%;
    width: 7vw;
    height: 7vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%2013.png);
}

#Ermihalyfalva:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Ertarcsa {
    width: 130px;
    height: 50px;
    background-image: url(web%20components/Group%2012.png);
    position: absolute;
    left: 580px;
    top: 525px;
    background-repeat: no-repeat;
}

#Ertarcsa:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Ottomany {
    position: absolute;
    left: 38.5%;
    top: 50%;
    width: 6vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%2010.png);
}

#Ottomany:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Szalacs {
    width: 130px;
    height: 51px;
    position: absolute;
    left: 817px;
    top: 541px;
}

#Szalacs:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.wrapper #map #Erolaszi {
    width: 131px;
    height: 49px;
    position: absolute;
    left: 586px;
    top: 802px;
    background-image: url(web%20components/Group%207.png);
    background-repeat: no-repeat;
}

#Erolaszi:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.wrapper #map #Magyarorszagszoveg {
    width: 20vw;
    height: 40vh;
    background-image: url(web%20components/Magyarorsz%C3%A1g.png);
    position: absolute;
    left: 1%;
    top: 8%;
	background-repeat: no-repeat;
	background-size: contain;
}



.wrapper #footer {
    width: 100vw;
    height: 10vh;
    background-color: #0E1329;
    position: absolute;
    bottom: 0;
}
.wrapper #map #Asszonyvására {
    position: absolute;
    left: 31%;
    top: 64%;
    width: 6vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%2055.png);
}
.wrapper #map #Ersemjen {
    position: absolute;
    left: 28%;
    top: 37%;
    width: 5vw;
    height: 5vh;
	background-repeat: no-repeat;
	background-size: contain;
    background-image: url(web%20components/Group%2056.png);
}

#Ersemjen:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#Asszonyvására:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
